<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

 <extension point="org.eclipse.ui.actionSets">
    <actionSet
        label="Translate Action Set"
        visible="true"
        id="org.apertium.api.translate.actionSet">
       <menu
             icon="icons/translate_16.png"
             id="org.apertium.api.translate.menu"
             label="&amp;MachineTranslator"
             path="file/additions">
          <groupMarker
                name="MTadditions">
          </groupMarker>
       </menu>
       <action
             class="org.apertium.api.translate.actions.LoadMTFromFileActionDelegate"
             definitionId="org.api.translate.actions.load"
             icon="icons/OpenFileMT.png"
             id="org.apertium.api.translate.loadMTFromFileAction"
             label="Load Machine Translator configuration ..."
             menubarPath="file/org.apertium.api.translate.menu/MTadditions"
             style="push"
             toolbarPath="TranslatorGroup">
       </action>
       <action
             class="org.apertium.api.translate.actions.WizardMTAction"
             definitionId="org.apertium.api.translate.wizard"
             icon="icons/IconeMT.png"
             id="org.apertium.api.translate.wizard"
             label="Wizard Machine Translator configuration ..."
             menubarPath="file/org.apertium.api.translate.menu/MTadditions"
             style="push"
             toolbarPath="TranslatorGroup">
       </action>
     
     <action
           class="org.apertium.api.translate.actions.TranslateConfigurationAction"
           icon="icons/translate_16.png"
           id="org.apertium.api.translate.actions.translateConfigurationAction"
           label="Configure the Translator"
           menubarPath="file/org.apertium.api.translate.menu/MTadditions"
           toolbarPath="TranslatorGroup"
           tooltip="Configure the Translator">         
     </action>
      
     </actionSet>
    <actionSet
          id="org.apertium.api.translate.workbenchActionSet"
          label="Views Action Set"
          visible="true">
       <menu
             icon="icons/translate_16.png"
             id="org.apertium.api.translate.workbenchMenu"
             label="&amp;Machine Translator"
             path="addition">
          <groupMarker
                name="org.apertium.api.translate.content">
          </groupMarker>
          <separator
                name="org.apertium.api.translate.additions">
          </separator>
       </menu>
    </actionSet>
  </extension>

  <extension point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           category="TranslateViews"
           class="org.apertium.api.translate.views.TranslateView"
           icon="icons/translate_16.png"
           id="org.apertium.api.translate.views.translateView"
           name="Translations"
           restorable="true"/>
     
     <category
        id="TranslateViews"
        name="Translate"/>
     <view
           allowMultiple="true"
           class="org.apertium.api.translate.views.TranslateOne2OneView"
           fastViewWidthRatio="0.5f"
           icon="icons/translate_16.png"
           id="org.apertium.api.translate.TranslateOne2OneView"
           name="Ongoing Talk"
           restorable="false">
     </view>
     <view
           allowMultiple="false"
           category="TranslateViews"
           class="org.apertium.api.translate.views.TranslateM2Mview"
           icon="icons/translate_16.png"
           id="org.apertium.api.translate.views.TranslateM2Mview"
           name="Ongoing chat ..."
           restorable="true">
     </view>
     <view
           allowMultiple="false"
           category="TranslateViews"
           class="org.apertium.api.translate.views.TranslateWhiteBoardView"
           icon="icons/view_decisions_place.png"
           id="org.apertium.api.translate.views.TranslateWhiteBoardView"
           name="Decisions place"
           restorable="true">
     </view>
     <view
           allowMultiple="false"
           category="econferenceViews"
           class="org.apertium.api.translate.views.TranslateM2MHandRaiseView"
           icon="icons/view_hr.png"
           id="org.apertium.api.translate.views.TranslateM2MHandRaiseView"
           name="Hand raising"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.startup">     
		<startup class="org.apertium.api.translate.TranslatePlugin" />
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="it.uniba.di.cdg.xcore.one2one.ui.chatPerspective">
        <showInPart
              id="it.uniba.di.cdg.xcore.ui.views.talkView">
        </showInPart>
        <view
              closeable="true"
              id="org.apertium.api.translate.TranslateOne2OneView"
              minimized="false"
              moveable="true"
              ratio="0.25f"
              relationship="stack"
              relative="it.uniba.di.cdg.xcore.ui.views.talkView"
              showTitle="true"
              standalone="false"
              visible="true">
        </view>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:org.apertium.api.translate.views.TranslateM2Mview">
        <command
              commandId="it.uniba.di.cdg.xcore.m2m.multiCallChatCommand"
              disabledIcon="icons/call-group-disabled20x20.png"
              hoverIcon="icons/call-group-hover20x20.png"
              icon="icons/call-group-enabled20x20.png"
              label="Call group / End call"
              style="push"
              tooltip="Call group / End call">
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.apertium.api.translate.views.TranslateWhiteBoardView?before=switch">
        <command
              commandId="it.uniba.di.cdg.xcore.econference.bold"
              icon="icons/bold_icon.png"
              label="Bold"
              style="push">
        </command>
        <command
              commandId="it.uniba.di.cdg.xcore.econference.underline"
              icon="icons/underline_icon.png"
              label="Underline"
              style="push">
        </command>
        <command
              commandId="it.uniba.di.cdg.xcore.econference.strike"
              icon="icons/strike_icon.png"
              label="Strike"
              style="push">
        </command>
        <separator
              name="org.apertium.api.translate.separator1"
              visible="true">
        </separator>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.apertium.api.translate.MTPerspective"
           fixed="true"
           icon="icons/translate_16.png"
           id="org.apertium.api.translate.MTPerspective"
           name="MTConference">
     </perspective>
  </extension>
  <extension
        point="it.uniba.di.cdg.xcore.econference.eventloader">
     <loader
           context="it.uniba.di.cdg.xcore.econference.EConferenceContext"
           contextLoader="it.uniba.di.cdg.xcore.econference.model.ConferenceContextLoader"
           helper="org.apertium.api.translate.internal.TranslateM2MHelper"
           invitationIcon="icons/InvitationEventMT.png"
           organizationIcon="icons/OrganizationEventMT.png"
           pluginID="org.apertium.api.translate"
           service="econference-mt">
     </loader>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="org.apertium.api.translate.actions.LoadMTFromFileActionDelegate"
           id="org.apertium.api.translate.loadMT"
           name="loadMT">
     </command>
     <command
           defaultHandler="org.apertium.api.translate.actions.WizardMTAction"
           id="org.apertium.api.translate.wizardMT"
           name="wizardMT">
     </command>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="it.uniba.di.cdg.collaborativeworkbench.boot.collaborativeWorkbench"
           name="eConferenceMT">
        <property
              name="windowImages"
              value="platform:/plugin/it.uniba.di.cdg.collaborativeworkbench.boot/cw_16x16.gif,platform:/plugin/it.uniba.di.cdg.collaborativeworkbench.boot/cw_32x32.gif">
        </property>
        <property
              name="aboutText"
              value="eConference 4.1.0 MT (v 2.2.0)&#x0A;&#x0A;eConference has been developed by the Collaborative Development Group,&#x0A;Dipartimento di Informatica, University of Bari and it is distributed under the &#x0A;terms of the MIT license. &#x0A;More details on the project homepage at http://cdg.di.uniba.it/projects/econference/ &#x0A;&#x0A;This software is based upon the Eclipse Rich Client Platform, http://eclipse.org/rcp/&#x0A;&#x0A;The Jabber plug-in uses the SMACK library, http://www.jivesoftware.org/smack/ &#x0A;&#x0A;Eclipse, Built on Eclipse and Eclipse Ready are trademarks of Eclipse Foundation, Inc.">
        </property>
        <property
              name="aboutImage"
              value="platform:/plugin/it.uniba.di.cdg.collaborativeworkbench.boot/about_logo.gif">
        </property>
        <property
              name="startupProgressRect"
              value="5,275,445,15">
        </property>
        <property
              name="appName"
              value="eConferenceMT">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>

<!--
  <extension point="org.eclipse.ui.startup">
     <startup class="org.apertium.api.translate.TranslatePlugin"></startup>
  </extension>
-->

</plugin>
